<div class="balance-sheet-wrapper" #balanceSheetWrapper>
    <app-balance-sheet-section
        heading="ASSETS"
        [dataAfterCategory]="sortedDataAfterCategory()"
        [sectionCategories]="[ItemCategoryEnum.current_asset, ItemCategoryEnum.long_term_asset]"
    />
    <app-balance-sheet-section
        heading="LIABILITES"
        [dataAfterCategory]="sortedDataAfterCategory()"
        [sectionCategories]="[ItemCategoryEnum.current_liabilities, ItemCategoryEnum.long_term_liabilities]"
    />
    <app-balance-sheet-section
        heading="STOCKHOLDER'S EQUITY"
        [dataAfterCategory]="sortedDataAfterCategory()"
        [sectionCategories]="[ItemCategoryEnum.equity, ItemCategoryEnum.retained_earnings]"
    />
</div>

<button (click)="generatePDF()">Generate PDF</button>