<h4 class="heading">{{heading()}}</h4>
@for(category of dataAfterCategory() | keyvalue; track $index){
    @if(sectionCategories().includes(category.key)) {
        <section>
            <span class="category-heading">{{category.key | separateCamelCase}}</span>
        @for(data of category.value; track $index){
            @let debitValue = data.openDebitBalance + data.ytdDebitValue;
            @let creditValue = data.openCreditBalance + data.ytdCreditValue;
            <div class="line">
                <span>{{data.accountName}}</span>
                <span>
                    @if(data.debitCredit === DebitCreditEnum.debit){
                            {{(debitValue - creditValue) | transformTotalValue}}
                    }
                    @if(data.debitCredit === DebitCreditEnum.credit){
                       {{(creditValue - debitValue) | transformTotalValue}}
                    }
                </span>
            </div>
        }
        </section>
    }
}